/* --- CONFIGURATION GLOBALE --- */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden; /* Empêche de scroller */
}

/* --- ÉCRAN DE CONNEXION (VERROUILLAGE) --- */
#login-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111; /* Fond NOIR OPAQUE */
    color: white;
    z-index: 9999; /* Toujours au-dessus de tout */
    display: flex; /* Pour centrer le contenu */
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #222;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    border: 1px solid #444;
    width: 300px;
}

.login-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e74c3c; /* Rouge alerte */
}

input {
    display: block;
    width: 90%;
    margin: 15px auto;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #555;
    background: #333;
    color: white;
}

#btn-login {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 12px 20px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s;
}

#btn-login:hover {
    background-color: #c0392b;
}

#status-message {
    color: #ff6b6b;
    margin-top: 10px;
    font-size: 14px;
}

/* --- ÉCRAN DE L'APPLICATION --- */
#app-screen {
    display: none; /* CACHÉ PAR DÉFAUT */
    width: 100%;
    height: 100%;
    position: relative;
}

/* La carte prend tout l'écran */
#map {
    width: 100%;
    height: 100%;
    background: #333; /* Gris en attendant que la carte charge */
}

/* Barre du haut */
.top-bar {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; /* Par-dessus la carte */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#btn-logout {
    background: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
}
